.idea
.DS_Store
.venv
__pycache__
.hypothesis
.env
venv/
*.db

# Node
node_modules/
sync_up_frontend/node_modules/

# Build outputs
dist/
build/

# IDE/editor
.vscode/

# Mac
.DS_Store

# Python
*.pyc

# Vite/React
/.dist

